<div class="tab-two">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div><b>REGISTRATION/LEASE AGREEMENTS</b></div>
          <p>Note:</p>
          <p>
              Primitive campers and traders see below for registration forms.  These forms can be filled out on your computer, then printed.  Most computers will be able to print these forms but some older systems may not.  In this case you will need to call out secretary and have one sent to you.
          </p>
          <div><b>Mail Forms To:</b></div>
          <div><b>FORT BRIDGER RENDEZVOUS ASSOCIATION</b></div>
          <div><b>1967 NORTH 950 WEST</b></div>
          <div><b>Clinton UT, 84015</b></div>
          <div><b>801-635-4038</b></div>
          <div><b>fbrainc@hotmail.com</b></div>
          <br>
          <div><b>DUE DATES ARE AS FOLLOWS:</b></div>
          <div><b>*TRADERS AND FOOD VENDORS – JANUARY 1, FOR YEAR OF RENDEZVOUS</b></div>
          <div><b>*PRIMITIVE CAMPERS – MARCH 1, FOR YEAR OF RENDEZVOUS</b></div>
          <br>
          <p>
            Remember this is a by invitation only Rendezvous
          </p>
          <h3>2020 Applications</h3>
        </div>
      </div>
    </div>
  </div>