<div class="fbra-board">
  <div class="container">
    <div class="column">
      <div class="col-md-12">
        <div class="contact-wrap">
          <p><b>2020 FBRA BOARD MEMBER CONTACT INFORMATION</b></p>
          <p><b>FBRA ADDRESS</b></p>
          <p><b>1967 NORTH 950 WEST</b></p>
          <p><b>CLINTON, UT 84015</b></p>
          <p><b>E-MAIL: FBRAINC@HOTMAIL.COM</b></p>
          <p>“Each Board member has assigned committee assignments listed below. Please review these assignments to get the right board member who can best answer your questions.”</p>
        </div>
        <div class="board-img">
          <img src="https://i.imgur.com/XuGKjGy.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>2020 Booshway</b></p>
          <p>Nancy Turner</p>
          <p>801-368-4630</p>
          <p>nturner@alpinedistrict.org</p>
          <img src="https://i.imgur.com/zJN6MDG.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>2020 Segundo</b></p>
          <p>Shalayne Hunziker</p>
          <p>801-361-8036</p>
          <p>shalaynehunziker@gmail.com</p>
          <img src="https://i.imgur.com/5fU7unu.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Chairman</b></p>
          <p>Eugene Fowles</p>
          <p>801-368-5516</p>
          <p>eugenefowles@gmail.com</p>
          <img src="https://i.imgur.com/sCjdfi4.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Secretary</b></p>
          <p>Kim Turner</p>
          <p>801-635-4038</p>
          <p>FBRAINC@hotmail.com</p>
          <img src="https://i.imgur.com/E8N9fq4.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Member at Large Rep.</b></p>
          <p>Heather Shell</p>
          <p>801-867-2293</p>
          <p>shell6372@gmail.com</p>
          <img src="https://i.imgur.com/OwVYR4e.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Fort Bridger WY Rep.</b></p>
          <p>Todd Glover</p>
          <p>801-534-1899</p>
          <p>tetontodd@gmail.com</p>
          <img src="https://i.imgur.com/reb55xg.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Utah Rep.</b></p>
          <p>Tim Boulden</p>
          <p>385-290-2269</p>
          <p>tgboulden@gmail.com</p>
          <img src="https://i.imgur.com/m5o2Hgm.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b>Uinta County Rep.</b></p>
          <p>Dave Taylor</p>
          <p>435-730-5222</p>
          <p>Taylord84337@hotmail.com</p>
          <img src="https://i.imgur.com/ZP90tVs.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b> Lyman Rep. </b></p>
          <p> John Murray </p>
          <p> 801-782-3049 </p>
          <p> Porterrockwell78@aol.com </p>
          <img src="https://i.imgur.com/0WDoYI8.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b> Mountain Man Rep. </b></p>
          <p> Dave Turner </p>
          <p> 801-368-3943 </p>
          <p> dnturner.141@gmail.com </p>
          <img src="https://i.imgur.com/F58pj2c.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b> Mountain Man Rep. </b></p>
          <p> Mike Chatelain </p>
          <p> 801-668-4840 </p>
          <p> mchatelain@co.weber.ut.us </p>
          <img src="https://i.imgur.com/ZPeBHP8.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b> Mountain View WY Rep. </b></p>
          <p> Alan Pearson </p>
          <p> 801-792-9341 </p>
          <p> arapahoman15@aol.com </p>
          <img src="https://i.imgur.com/lcnz7XR.jpg" alt="">
        </div>
        <div class="member-wrap">
          <p><b> Sweatwater Rep. </b></p>
          <p> Dave Gonzales </p>
          <p> 801-885-9501 </p>
          <p> oldsoldier1911@gmail.com </p>
          <img src="https://i.imgur.com/dehQ6F2.jpg" alt="">
        </div>
        <!-- <div class="member-wrap">
                    <p><b>  Shoshone District Manager  </b></p>
                    <p>  Chris Floyd  </p>
                    <p>  307-782-3842  </p>
                    <p>  CHRIS.FLOYD@WYO.GOV  </p>
                    <img src="https://i.imgur.com/1tGfB1G.jpg" alt="">
                </div> -->
        <div class="member-wrap">
          <p><b> Fort Bridger Historic Site Superintendent </b></p>
          <p> Linley Mayer </p>
          <p> 307-870-8811 </p>
          <p> Linley.mayer@wyo.gov </p>
          <img src="https://i.imgur.com/MPg5Lpz.jpg" alt="">
        </div>
        <p>&nbsp;</p>
        <hr>
        <p>&nbsp;</p>
        <div class="table-wrap">
          <h1 style="text-align: center;"><strong>2020 Committee Chairmen</strong></h1>
          <table style="margin-left: auto; margin-right: auto;">
            <tbody>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Range &amp; Shoots</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>&nbsp;John Murray</strong>&nbsp;</p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Knife &amp; Hawk</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Tim Boulden</strong>&nbsp;&nbsp;&nbsp;</p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Entertainment</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48.4688px;">
                <td style="width: 400px; height: 48.4688px;">
                  <p><strong>Trade Committee/Traders Row</strong></p>
                </td>
                <td style="width: 178.5px; height: 48.4688px;">
                  <p style="text-align: right;"><strong>&nbsp;Heather Shell</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Prizes</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Mike Chatelain</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Dog Soldier</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Gonzales</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Tipi Village </strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Mike Chatelain</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Primitive Demos/Historical Lectures</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Todd Glover</strong>&nbsp;</p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Advertising/Public Relations</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Newsletter</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Kim Turner</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Kids Games</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Mike Chatelain</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Facebook</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Heather Shell</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Archery</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Gonzales</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Fee Collection</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Contests</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Taylor</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Registration</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Kim Turner</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Candy Cannon </strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Turner</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Adult Candy Cannon</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Turner</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Port-a-Toilets</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Garbage</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Web Site</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Shalayne Hunziker</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Photography</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Alan Pearson</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Off Site Camping/Parking</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Dave Gonzales</strong></p>
                </td>
              </tr>
              <tr style="height: 48px;">
                <td style="width: 400px; height: 48px;">
                  <p><strong>Cannon Range</strong></p>
                </td>
                <td style="width: 178.5px; height: 48px;">
                  <p style="text-align: right;"><strong>Nancy Turner</strong></p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>


      </div>
    </div>
  </div>
</div>