.fbra-board {
    // margin-top: 3em;
    height: 100%;
    overflow: auto;
}
.contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    p {
        text-align: center;
    };
}
.board-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 60%;
    };
}

.member-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    p {
        margin-bottom: 0.2em;
    }
    img {
        width: 25%;
    }
    tr {
        border: 1px solid grey;
    }
    td {
        vertical-align: middle;
    }
}

.table-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    p {
        margin-bottom: 0.2em;
    }
    tr {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    td {
        vertical-align: middle;
        padding-left: 1em;
        padding-right: 1em;
    }
}