.carousel-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel {
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    background: rgb( 237, 231, 221);
}
img {
    max-height: 34em;
    object-fit: contain;
}