:host {
  position: fixed;
  top: 0;
  width: 100%;
}

#btn-flx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  .header-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 30vh;
    max-height: 30vh;
    width: 100%;
    background-image: url('https://i.imgur.com/exV2BaC.jpg?1');
    background-size: 100% 111%;
    background-repeat: no-repeat;

    .header-title {
      font-size: 8em;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgba(60, 6, 6, 0.67);
      word-wrap: none;
      white-space: nowrap;
    }

    .nav-wrap {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 10vh;
      width: 75%;
      background-image: url('https://i.imgur.com/1fPS6RX.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      bottom: -1.5em;
      z-index: 1;

      .nav-btn:link,
      .nav-btn:visited {
        color: white;
        background-color: rgba(101, 70, 63, 0.9);
        height: 3em;
        width: 11.5em;
        text-decoration: transparent;
        display: inline-block;
        border-radius: 5px;
      }

      .nav-btn:hover,
      .nav-btn:active {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
  .img-hidden {
    background-image: none;
    background-color: rgb( 237, 231, 221);
  }
}

.dropdown {
  display: inline-block;
  span {
    margin-right: 0.5em;
  }
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 1px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgb( 237, 231, 221);}

.dropdown:hover .dropdown-content {
  display: block;
}

// .app-body {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   min-height: 70vh;
//   width: 100%;
//   // border: 1px solid red;
//   background-color: rgb( 237, 231, 221);
//   .left {
//     height: 70vh;
//     width: 14%;
//     background-image: url('https://i.imgur.com/wSYsjbR.png');
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//     // border: 1px solid blue;
//   }
//   .center {
//     height: 70vh;
//     width: 72%;
//     // border: 1px solid red;
//   }
//   .right {
//     height: 70vh;
//     width: 14%;
//     background-image: url('https://i.imgur.com/ROUbdAp.png');
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//   }
// }