<div class="rules-and-regs">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <h2 class="title">Rules and Regulations</h2>
        <div class="doc-wrap">
          <a class="link" href="assets/pdfs/Rules-&-Regulations-2019.pdf" target="_blank">TROUBLE VIEWING DOCUMENT BELOW?</a>
          <embed src="../../assets/pdfs/Rules-&-Regulations-2019.pdf" type="">
        </div>
        <h4>ARCHERY</h4>
        <div class="doc-wrap">
          <a class="link" href="assets/pdfs/2016ARCHERYRULES.pdf" target="_blank">TROUBLE VIEWING DOCUMENT BELOW?</a>
          <embed src="../../assets/pdfs/2016ARCHERYRULES.pdf" type="">
        </div>

        <hr>

        <p>&nbsp;</p>
        <p><strong>PRIMITIVE ARCHERY LESSONS AND PRACTICE</strong></p>
        <p>Price:&nbsp;<strong>FREE!</strong></p>
        <p>Who: Everyone with an interest in archery</p>
        <p>What: Learn the basics of bows and arrows</p>
        <p>Understand instinctive shooting</p>
        <p>Have an opportunity to tune your gear</p>
        <p>Learn some good shooting habits</p>
        <p>Hit what you aim at</p>
        <p>Get some practice</p>
        <p>When: Friday August 28<sup>th</sup></p>
        <p>Time: 10:00 AM till ?</p>
        <p>Where: Archery Range</p>
        <p>So dust off your equipment, bring it down to the range, learn good habits, overcome bad habits and free your inner archer.</p>
        <p><strong>MONEY BACK GUARANTEE!!!</strong></p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>ARCHERY POKER SHOOT RULES</strong></p>
        <p>Winning will be a combination of luck and skill.</p>
        <p><strong>Every shooter will have some chance of winning&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; regardless of your skill level.</strong></p>
        <p><strong>All proceeds go towards targets and prizes.</strong></p>
        <ol>
          <li><strong>$1.00 PER CARD</strong>&nbsp;(<strong>MINIMUM OF 5 CARDS</strong>).&nbsp;<strong>MISSES CAN BE SHOT OVER until cards hit equal amount paid.</strong></li>
          <li><strong>2.&nbsp;Shooter can buy unlimited cards (shots).</strong></li>
          <li>At close of shoot, each shooter will choose the hand they will play from the cards they have shot.</li>
          <li>After all hands have been determined, a chip will be randomly chosen to determine the hand that will be up for competition.</li>
          <li>Possible hands from chips are (in ascending order)&nbsp;<strong>HIGH CARD &ndash; ONE PAIR &ndash; TWO PAIR &ndash; THREE OF A KIND &ndash; STRAIGHT &ndash; FLUSH &ndash; FULL HOUSE &ndash; FOUR OF A KIND &ndash; STRAIGHT FLUSH &ndash; ROYAL FLUSH.</strong></li>
          <li>If no hands were played for a drawn chip, another chip will be drawn.</li>
          <li>Highest scoring cards in the competition hand will win.</li>
          <li>In case of a tie, the competitors will go back to their cards and play the highest hand possible from their cards. Second tier ties are settled by high cards not used in tie breaker hand until a winner is determined.</li>
        </ol>
        <p><strong>IT IS TO YOUR ADVANTAGE TO SHOOT AS MANY CARDS AS POSSIBLE IN ORDER TO INCREASE THE POSSIBLE HANDS AVAILABLE FOR YOUR PLAY, GET THE HIGHEST VALUE OF CARDS IN THE HAND YOU CHOOSE TO PLAY AND INCREASE YOUR CHANCE OF WINNING ANY TIE BREAKERS.</strong></p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>OFFICIAL FBRA DOG POLICY</strong></p>
        <p>Due to problems, which have arisen over the past few years, the FBRA is adopting the following policy concerning dogs on the Fort Bridger Rendezvous site.</p>
        <ol>
          <li>Wyoming law requires that all dogs must be on a leash no longer that 10 feet. Keep your dog under control at all times.</li>
          <li>Do not allow them to attack other dogs or humans.</li>
          <li>Clean up after your dog. This includes trash and food as well as feces.</li>
          <li>Keep your dog quiet. Do not allow them to bark, whine or howl for an unreasonable length of time.</li>
        </ol>
        <p>Upon the first violation of any of these rules, the dog owner or responsible party will be given a documented warning and will be required to take care of any associated problem. This warning can be issued by any FBRA Official, State Park Employee or Law Enforcement Officer. The warning can be based on any incident, which is observed by or reported to any of these officials.</p>
        <p>Upon the second violation, the dog owner or responsible party will be issued a citation or fined by the FBRA.&nbsp;<strong>(MINIMUM FINE $35.00)</strong>&nbsp;If this fails to resolve the problem, the violator may be escorted from the rendezvous site and denied future participation.</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>AUTHENTIC DRESS</strong></p>
        <p>Individuals who wish to be authentically dressed should adhere to the following guidelines:</p>
        <p>NOTE: Authentic Dress is required for campers in the Primitive Camp, and traders.</p>
        <ul>
          <li>All visible clothing must pre-date 1840. These items include:</li>
          <ol>
            <li>Hats &amp; Bonnets</li>
            <li>Shirts &amp; Blouses</li>
            <li>Jackets &amp; Coats</li>
            <li>Pants</li>
            <li>Dresses</li>
            <li>Shoes</li>
            <li>Blankets</li>
            <li>Jewelry</li>
            <li>Wepons (all kinds)</li>
          </ol>
          <li>Women must be wearing period dresses, or a blouse and skirt.</li>
          <li>Prescription Glasses are acceptable. Sun glasses are not allowed.</li>
        </ul>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>EGG COOKING CONTEST</strong></p>
        <p>This contest is for two-member team, one child and one adult in primitive dress.<br /> There are two age groups. Child age: 11 and under &amp; 12-16.</p>
        <p>Things to bring to the contest:<br /> 1. FRYING PAN/MEANS OF FRYING EGG AND UTENCIL<br /> 2. KINDLING FOR FIRE<br /> 3. FIRE STARTING KIT, SELECT FROM THE FOLLOWING:<br /> Bow and drill / Flint and steel / Magnifying glass<br /> 4. SMALL BUCKET OF WATER<br /> 5. POSITIVE ADDITUDE<br /> 6. A SMILE<br /> 7. EGGS WILL BE PROVIDED</p>
        <p>Each team must perform the following:<br /> &bull; The child member of the team is to start the fire. Adult member may assist.<br /> &bull; Team together builds fire.<br /> &bull; Child to crack egg and put it the pan<br /> &bull; Egg must be cooked until all the egg white is white in color<br /> &bull; Adult eats the egg<br /> &bull; Fire extinguished by water from bucket.<br /> &bull; Adult shows smile to the Judges and crowd to prove egg was eaten.</p>
        <p>This is a timed event. First team to finish is declared the winner. However this is also a skilled event and the team showing the most skill in degree of difficulty may be declared winner.</p>
        <p>In the event the winning team show bad sportsmanship or cheat in any way they will be disqualified. The final decision comes from the Judges.</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>MOUNTAIN MAN STORYTELLING CONTEST</strong></p>
        <p>This contest is for any adult in primitive dress who wishes to regale us with a story of pre-1840 nature.</p>
        <p>Participants must sign up for this contest in registration by noon on Saturday, registration limited to the first<br /> 10 participants, 5 per night.<br /> Participants are to be at the council fire at least 15 minutes before posted time of council fire.</p>
        <p>Story telling will be done before the official council fire both nights while extra tickets are being sold for the raffles.</p>
        <p>&bull; Stories must be kept under 5 minutes; over 5 min will be disqualified.<br /> &bull; Winners will be determined by a combination of how much entrant is liked by the audience and judges.<br /> &bull; Winners will get bragging rights to be the Best Mountain Man Storyteller<br /> &bull; Winners may or may not receive a prize</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>CLOTHING CONTEST</strong></p>
        <p>Those interested in this contest need to register at registration at any time, but at least an hour before contest time listed in rendezvous guide.</p>
        <p>The categories for the contest are as follows:</p>
        <p>Mountain Man<br /> Mountain Women<br /> Mountain Boy<br /> Mountain Girl<br /> Indian Man<br /> Indian Women<br /> Indian Boy<br /> Indian Girl</p>
        <p>The time period for these categories is 1825 to 1840. Winners of these categories may receive a prize.</p>
        <p>The pre 1825 (early fur trade) is a large part of this event. Participants in this category may or may not receive a prize. However the FBRA encourages participants to share their knowledge and skills at this event. The categories are as follows: Early fur trade Man, Women, boy and girl.</p>
        <p>Those who register for the clothing contest will meet at the time and place listed in the rendezvous guide.</p>
        <p>The participants in each category will be narrowed down to 3 places. The last 3 contestants will have a chance to talk about their clothing. Judges may also ask questions to determine winners.</p>
        <p>If in the event there is only one participant in a category the category may be dropped from the contest.</p>
        <p>The FBRA reserves the right to only award first place in any category and to award winners of this contest with what ever prize they see as appropriate</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>WOMEN&rsquo;S FRYING PAN TOSS</strong></p>
        <p>This contest is open to any adult woman and adult man team in primitive dress</p>
        <p>This contest will NOT BE FOR DISTANCE, BUT FOR ACCURACY!<br /> BRING A MAN TO THROW THE FRYING PAN AT!!<br /> Rules:<br /> &bull; Each contestant will need a MAN to throw the frying pan at who will stand on his spot.<br /> &bull; Women must stand behind the line and not cross over it.<br /> &bull; The frying pan will be tossed/thrown AT the man with the intent of getting it as close to him as possible WITHOUT hitting him<br /> &bull; The man must stand in his spot and may not move his feet any until throw is measured. (he may use his hands to cover something vital from being hit as long as he stands
          still)<br /> &bull; Hitting the man disqualifies throw<br /> &bull; Pan must be gripped by the handle but may be tossed, thrown, slid, etc.<br /> &bull; The throw will be measured from the edge of the pan to the man&rsquo;s foot.<br /> &bull; The woman will throw twice with the closest throw not hitting the man counting.</p>
        <p>Age groups: 18-30; 30-40; 40-50; 50-60; 60-70+ Several women will throw at the same time.</p>
        <p>The FBRA reserves the right to only award first place in any category, to award winners of this contest with whatever prize they see as appropriate, and to combine categories.</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>DUTCH OVEN COOKING CONTEST</strong></p>
        <div class="doc-wrap">
          <a class="link" href="assets/pdfs/dutchOven.pdf" target="_blank">TROUBLE VIEWING DOCUMENT BELOW?</a>
          <embed src="../../assets/pdfs/dutchOven.pdf" type="">
        </div>

        <hr>

        <p>&nbsp;</p>
        <p><strong>KIDS TRADER BLANKET: AGE: 12 AND UNDER.</strong></p>
        <p>Each child is to be in period dress to participate.<br /> All children are encouraged to bring an item to trade with another child.<br /> Trade items are to be period. (No plastic, boondoggle etc.)</p>
        <p>Guidelines: Subject to change without notice.<br /> The FBRA board member lays a blanket out on the ground and asks everyone who is under 12 who wants to trade come to the blanket.<br /> Participants gather around the blanket to trade. Generally the kids put what they want to trade in front of them.</p>
        <p>Parents need to be reminded that they need to stay back from the blanket and not coach their kids. If the child has a question the child leaves the blanket to ask the parent.<br /> Note: Children do not see the same value of a trade item as an adult.<br /> Parents just let the kids have fun!</p>
        <p>The FBRA board member looks over the trade goods to assure everything is as close to period as possible. If there is some boondoggle or something that looks out of place the board member shows by example how a trade works. After this trade there should only be period items on the blanket before the kids begin to trade.</p>
        <p>The kids all trade as many times as they want.</p>
        <p>The FBRA board member may choose to give additional prize (medallion to each participants).</p>
        <p>Note to Board Member: The board member should be prepared to trade with some small items to clear the non period items off the blanket.</p>
        <p>If you have any questionable item, please contact the FBRA.</p>
        <p>&nbsp;</p>

        <hr>

        <p>&nbsp;</p>
        <p><strong>NO TRADE LIST</strong></p>
        <div class="doc-wrap">
          <a class="link" href="assets/pdfs/TraderNoTradeList2020.pdf" target="_blank">TROUBLE VIEWING DOCUMENT BELOW?</a>
          <embed src="../../assets/pdfs/TraderNoTradeList2020.pdf" type="">
        </div>

      </div>
    </div>
  </div>
</div>