<div class="home">
  <div class="container">
    <p>&nbsp;</p>
    <hr>
    <div class="doc-wrap background-yellow">
      <h3 style="text-align: center;"><span><strong><em>*** COVID-19 UPDATE ***</em></strong></span></h3>
          <!-- <h4 style="text-align: center;"><span><strong><em>During this extremely difficult situation with the coronavirus (COVID-19), nothing is more important to the Fort Bridger Board of Directors than the health and safety of our members, traders, campers, visitors and their families. With months until the rendezvous, we as a board continue to work hard on getting things lined up and ready to go. As of right of now the state has informed the board that we are still a go for the rendezvous. With that said, please check here and on our Facebook page for updates concerning the 2020 Fort Bridger Rendezvous. We will try yo keep you updated as much as possible. Stay safe and healthy!!!!</em></strong></span></h4> -->
          <!-- <h4 style="text-align: center;"><span><strong><em>Many questions are circling around about the 2020 rendezvous.   The board wishes we could give you all a firm answer.  As of right now the board is still preparing for the rendezvous, but with that said we are currently waiting to hear back from the county health department and the state of Wyoming to find out if the rendezvous can go on and if so what precautions we will need to take.  We are hoping for an answer by the July 11th  general membership meeting.   We encourage all members to attend  to this meeting.  Please continue to check the Fort Bridger Rendezvous website and Facebook page for updates.   The board will let you know as soon as we know anything. </em></strong></span></h4> -->
          <!-- <h4 style="text-align: center;"><span><strong><em>Hello All,
            It is with great sadness and heavy hearts that we must announce the cancellation of the 2020 Fort Bridger Rendezvous.  
            This was a very hard decision and was based off two main factors;
            The shear amount of extra work and expenses that would need to be done to comply with all current health regulations.  
            And along with that,  the board has spent the last 48 years making sure that the rendezvous keeps up to and is held to the highest historical standards. It is a simple fact that if the rendezvous was to be held this year we could not maintain those standards with the restrictions and requirements placed upon us.
            Believe me that we are just as disappointed to write this as you are to read this.  
            
            Applications for Traders and campers will be rolled over to the 2021 rendezvous.  If any trader or camper would like a full refund the deadline for that is September 7 2020.    Please email in a written request to FBRAinc@hotmail.com or mail your request to.....
            1967 NORTH 950 WEST  
            Clinton  UT 84015
            If we do not hear from you we will just roll your application and fees to next year.  
            
            Mark your calendar now for the 2021 Fort Bridger Rendezvous!!!!! 
            
            Sincerely, 
            The FBRA Board of directors</em></strong></span></h4> -->
            <!-- <p>Hello All,</p>
            <p>It is with great sadness and heavy hearts that we must announce the cancellation of the 2020 Fort Bridger Rendezvous. </p>
            <p>This was a very hard decision and was based off two main factors;</p>
            <p>The shear amount of extra work and expenses that would need to be done to comply with all current health regulations. </p>
            <p>And along with that, the board has spent the last 48 years making sure that the rendezvous keeps up to and is held to the highest historical standards. It is a simple fact that if the rendezvous was to be held this year we could not maintain those standards with the restrictions and requirements placed upon us.</p>
            <p>Believe me that we are just as disappointed to write this as you are to read this. </p>
            <p>Applications for Traders and campers will be rolled over to the 2021 rendezvous. If any trader or camper would like a full refund the deadline for that is September 7 2020. Please email in a written request to <a href="mailto:FBRAinc@hotmail.com">FBRAinc@hotmail.com</a> or mail your request to.....</p>
            <p>1967 NORTH 950 WEST </p>
            <p>Clinton UT 84015</p>
            <p>If we do not hear from you we will just roll your application and fees to next year. </p>
            <p>Mark your calendar now for the 2021 Fort Bridger Rendezvous!!!!!</p>
            <p>Sincerely,</p>
            <p>The FBRA Board of directors</p> -->

            <p>Hello All &ndash;</p>
            <p>We hope you all found something to fill in the void for the canceled 2020 Rendezvous this Labor Day weekend.&nbsp; We missed each and every one of you this year!&nbsp;&nbsp; Now let&rsquo;s look onto the 2021 Rendezvous.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Just a reminder if you registered for the 2020 rendezvous, your registration was carried over to 2021.&nbsp; However, if you canceled your registration or did not register and want to get your registration in for 2021, the applications are now available under the Registration tab here on our website.</p>
            <p>&nbsp;</p>
            <p>Stay safe and healthy, and we will see you all at the 2021 Fort Bridger Rendezvous!!</p>


      <div class="facebook-link">
        <a href="https://www.facebook.com/Fort-Bridger-Rendezvous-Association-101344216616594/" target="_blank">
          <img src="../../assets/images/facebook-follow-button.png">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="carousel-wrap col-md-12 py-5">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="state-link-wrap">
      <div class="statue-img">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
      <div class="statue-img-mobile">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="doc-wrap">
      <p><strong>FORT BRIDGER RENDEZVOUS 2020</strong></p>
      <p>Gates open from 8 a.m. to 6 p.m. September 4th to September 7th, 2020<br /> Gate fees $5.00 per person 12 and up / Children 11 and under are Free</p>
      <p>The Fort Bridger Mountain Man Rendezvous is a mountain man rendezvous in celebration of the Fur Trade Rendezvous Era that occurred in the Rocky Mountains between 1825-1840. It is one of the largest mountain man gatherings in the nation.</p>
      <p>Fort Bridger Mountain Man Rendezvous, held annually the first weekend of September at Fort Bridger Wyoming, this Mountain Man Rendezvous is an experience your family will be sure to remember for years. Come and experience historic Fort Bridger at its best!</p>
      <p>Admission for the general public is $5.00 for everyone 12 years and up.&nbsp;<strong>State regulations prohibit alcohol consumption.&nbsp;</strong>Dogs are welcome; however, please review the&nbsp;<a href="http://www.fortbridgerrendezvous.net/rules-and-regulations/">dog policy</a>&nbsp;before bringing your dog(s) as&nbsp;<strong>violators will be fined.</strong>&nbsp;Remember you are on a&nbsp;<a href="http://wyoparks.state.wy.us/index.php/places-to-go/fort-bridger">State historic site</a>&nbsp;which is under the direction of Wyoming State Parks Division.</p>
      <p><strong>AUTHENTIC DRESS:</strong></p>
      <p>Individuals who wish to be authentically dressed should adhere to the following guidelines:<br /> NOTE: Authentic Dress is required for campers in the Primitive Camp and traders.</p>
      <ul>
        <li>All visible clothing must pre-date 1840 for the Fort Bridger Mountain Man Rendezvous. These items include:</li>
      </ul>
      <ol>
        <li>Hats &amp; Bonnets</li>
        <li>Shirts &amp; Blouses</li>
        <li>Jackets &amp; Coats</li>
        <li>Pants</li>
        <li>Dresses</li>
        <li>Shoes</li>
        <li>Blankets</li>
        <li>Jewelry</li>
        <li>Weapons (all kinds)</li>
      </ol>
      <ul>
        <li>Women must be wearing period dresses, or a blouse and skirt.</li>
        <li>Prescription glasses are acceptable. Sun glasses are not allowed.</li>
      </ul>
      <p>If you have a questionable item, please contact the FBRA (Fort Bridger Rendezvous Association).</p>
    </div>
    <div class="facebook-link">
      <a href="https://www.facebook.com/Fort-Bridger-Rendezvous-Association-101344216616594/" target="_blank">
        <img src="../../assets/images/facebook-follow-button.png">
      </a>
    </div>
  </div>
</div>