.home {
    overflow: auto;
    height: 100%;
    padding: 1em;
    background-color: rgb( 237, 231, 221);
    box-sizing: border-box;
}

.background-yellow {
    background-color: #fdfd00d4;
}

.state-link-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.statue-img {
    position: relative;
    min-height: 45em;
    width: 50%;
    background-image: url('../../assets/images/fb_statue.JPG');
    // background-image: url('https://i.imgur.com/TgymLm2.jpg');
    background-size: 100% 111%;
    background-repeat: no-repeat;

    img {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1;
        cursor: pointer;
    }
}
.statue-img-mobile {
    display: none;
}

.doc-wrap {
    padding: 3em;
}

@media only screen and (max-width: 599px) {
 .container {
     padding: 0px;
 }

 .statue-img {
     display: none;
 }

 .statue-img-mobile {
     display: block;
 }

 .doc-wrap {
     padding: 1em;
 }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    .container {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .statue-img {
        display: none;
    }

    .statue-img-mobile {
        display: block;
    }
    .doc-wrap {
        padding: 1em;
    }
}

@media only screen and (max-width: 1100px) {
    .app-body {
      padding-top: 22vh;
    }
    .statue-img {
        width: 65%;
    }
    .doc-wrap {
        padding: 1em;
    }
}