<div class="home">
  <div class="container">
    <div class="row">
      <div class="carousel-wrap col-md-12 py-5">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="state-link-wrap">
      <div class="statue-img">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
      <div class="statue-img-mobile">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
    </div>
    <p>&nbsp;</p>
    <div *ngFor="let content of contents">
      <div *showAuthed="false" class="doc-wrap" [innerHTML]="content.contentBody | sanitizeHtml"></div>
      <ng-container *showAuthed="true">
        <div 
          *ngIf="editUid != content.uid"  
          class="doc-wrap authed">
            <div class="button-row">
              <button class="button" (click)="handleEditMode(content)">EDIT</button>
            </div>
            <div [innerHTML]="content.contentBody | sanitizeHtml"></div>
        </div>
        <form *ngIf="editUid == content.uid" [formGroup]="contentForm" #form="ngForm" (ngSubmit)="formSubmit()">
          <angular-editor formControlName="contentBody" [config]="config"></angular-editor>
          <button class="button" [disabled]="form.invalid" type="submit">Save</button>
        </form>
      </ng-container>
      

      <hr>
    </div>

    <!-- <form [formGroup]="contentForm" #form="ngForm" (ngSubmit)="formSubmit()">
      <angular-editor formControlName="contentBody" [config]="config"></angular-editor>
      <button class="button" [disabled]="form.invalid" type="submit">Save</button>
    </form> -->
  </div>
</div>