<div class="home">
  <div class="container">
    <p>&nbsp;</p>
    <hr>
    <div class="doc-wrap background-blue">
      <h3 style="text-align: center;"><span><strong><em>*** COVID-19 UPDATE ***</em></strong></span></h3>
      <br>
      <p><em>HOPE FOR THE BEST. PLAN FOR THE WORST!</em></p>
      <p><em>In 2020 the FBRA board of directors had to make the heart wrenching decision to cancel the rendezvous due to Covid-19. The board has committed to having the rendezvous take place in 2021 at whatever size or level the State of Wyoming and the Health Department will allow. Members of the board recently met with Dr. Adams who is the director of the health department in Uinta County. Of course, his &ldquo;crystal ball&rdquo; isn&rsquo;t working very well and he could not say what restrictions are likely to be in place for the rendezvous. We all hope that there are no restrictions by that time and we can just have the rendezvous as normal. Dr. Adams suggested that the following items would help if we do need to apply for a variance permit.&nbsp; </em></p>
      <p><em><span style="background-color: #ffff00;">CONTACT INFORMATION:</span></em></p>
      <p><em>Contact information has become extremely important as it relates to exposures. We will be asking for a full name, age, address, and phone number for every person staying in your camp or working in your trade spot. This information will only be released to the health department upon their request. PLEASE PROVIDE ALL INFORMATION ASKED FOR! </em></p>
      <p><em>&nbsp;</em></p>
      <p><em><span style="background-color: #ffff00;">VACCINATION RECORDS:</span></em></p>
      <p><em>Dr. Adams indicated that it would help, if a permit is needed, that we could show that a significant number of our participants have been vaccinated. We will be asking if you have received a Covid 19 vaccination. We will not ask for documentation but please be ready to provide that documentation if needed.&nbsp; </em></p>
      <p><em>&nbsp;</em></p>
      <p><em><span style="background-color: #ffff00;">MASKS:</span></em></p>
      <p><em>If masks are still required, make the most of it and have a little fun. You will need to provide your own masks for you and your family. Take some time before rendezvous to make masks out of period correct cloth if you like. The standard paper masks will still be allowed.</em></p>
      <p><em>&nbsp;</em></p>
      <p><span style="background-color: #ffff00;"><em>HAND SANITIZER:</em></span></p>
      <p><em>We recommend that you have a plentiful amount of hand sanitizer for your camp or trade space and use it often.&nbsp; </em></p>
      <p><em>&nbsp;</em></p>
      <p><span style="background-color: #ffff00;"><em>TRADERS:</em></span></p>
      <p><em>Open up your canvas to provide as much air circulation as possible. It appears that restrictions on the numbers of people will be based on the event as a whole, but you may possibly be asked to limit the numbers of people in your trade space.</em></p>
      <p><em>&nbsp;</em></p>
      <p><span style="background-color: #ffff00;"><em>SOCIAL DISTANCING:</em></span></p>
      <p><em>The need for social distancing may still be expected. </em></p>
      <p><em>&nbsp; </em></p>
      <p><em>Once again, we sincerely hope that there are no restrictions in place by rendezvous. We are making preparations so we will be ready to move forward if needed. We thank everyone for their support and understanding in these matters. Remember that our rendezvous is such a great event because of everyone who participates or attends in any manner! We miss you all and hope to see you there!</em></p>


      <div class="facebook-link">
        <a href="https://www.facebook.com/Fort-Bridger-Rendezvous-Association-101344216616594/" target="_blank">
          <img src="../../assets/images/facebook-follow-button.png">
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="carousel-wrap col-md-12 py-5">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="state-link-wrap">
      <div class="statue-img">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
      <div class="statue-img-mobile">
        <a href="https://wyoparks.wyo.gov/index.php/places-to-go/fort-bridger" target="_blank">
          <img src="https://i.imgur.com/JXX9GSI.png" alt="">
        </a>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="doc-wrap">
      <p><strong>FORT BRIDGER RENDEZVOUS 2020</strong></p>
      <p>Gates open from 8 a.m. to 6 p.m. September 3 - September 6 2021<br /> Gate fees $5.00 per person 12 and up / Children 11 and under are Free</p>
      <p>The Fort Bridger Mountain Man Rendezvous is a mountain man rendezvous in celebration of the Fur Trade Rendezvous Era that occurred in the Rocky Mountains between 1825-1840. It is one of the largest mountain man gatherings in the nation.</p>
      <p>Fort Bridger Mountain Man Rendezvous, held annually the first weekend of September at Fort Bridger Wyoming, this Mountain Man Rendezvous is an experience your family will be sure to remember for years. Come and experience historic Fort Bridger at its best!</p>
      <p>Admission for the general public is $5.00 for everyone 12 years and up.&nbsp;<strong>State regulations prohibit alcohol consumption.&nbsp;</strong>Dogs are welcome; however, please review the&nbsp;<a href="http://www.fortbridgerrendezvous.net/rules-and-regulations/">dog policy</a>&nbsp;before bringing your dog(s) as&nbsp;<strong>violators will be fined.</strong>&nbsp;Remember you are on a&nbsp;<a href="http://wyoparks.state.wy.us/index.php/places-to-go/fort-bridger">State historic site</a>&nbsp;which is under the direction of Wyoming State Parks Division.</p>
      <p><strong>AUTHENTIC DRESS:</strong></p>
      <p>Individuals who wish to be authentically dressed should adhere to the following guidelines:<br /> NOTE: Authentic Dress is required for campers in the Primitive Camp and traders.</p>
      <ul>
        <li>All visible clothing must pre-date 1840 for the Fort Bridger Mountain Man Rendezvous. These items include:</li>
      </ul>
      <ol>
        <li>Hats &amp; Bonnets</li>
        <li>Shirts &amp; Blouses</li>
        <li>Jackets &amp; Coats</li>
        <li>Pants</li>
        <li>Dresses</li>
        <li>Shoes</li>
        <li>Blankets</li>
        <li>Jewelry</li>
        <li>Weapons (all kinds)</li>
      </ol>
      <ul>
        <li>Women must be wearing period dresses, or a blouse and skirt.</li>
        <li>Prescription glasses are acceptable. Sun glasses are not allowed.</li>
      </ul>
      <p>If you have a questionable item, please contact the FBRA (Fort Bridger Rendezvous Association).</p>
    </div>
    <div class="facebook-link">
      <a href="https://www.facebook.com/Fort-Bridger-Rendezvous-Association-101344216616594/" target="_blank">
        <img src="../../assets/images/facebook-follow-button.png">
      </a>
    </div>
  </div>
</div>